@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Nova+Script');
h2, h1 {
  font-family: 'Aref Ruqaa', serif;
}

h3, p, h4, h5, h6 {
  font-family: 'Nova Script', cursive, sans-serif;
}

* {
  margin: 10px;
}
